/*  #e1dee3  */

.App {
  text-align: center;
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
    color: #212126;
}

.margin {
    margin: 0 0 30px 0;
}

.my-row {
    background-color: #e1dee3;
    border-radius: 20px;
    padding: 30px 30px 30px 30px;
}

#container {                /* bewirkt wunder. nicht löschen */
    position: absolute;
    width: 1920px;
}