/*  #e1dee3  */

@font-face {
    font-family: 'Signature';
    src: url('graphics/MonsieurLaDoulaise-Regular.ttf') format('truetype')
}

.App {
    text-align: center;
    color: #212126;
}

h1 {
    margin: 0 0 0 0 !important;
}

.my-transition {
    transition: all 1s ease-in-out !important;
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin {
    margin-bottom: 30px;
}

.my-margin-top {
    margin-top: 30px;
}

.my-box {
    background-color: white;
    border-radius: 20px;
    padding: 30px 0 30px 0;
    box-shadow: .1em .1em .5em #c0bfc4;
}

.my-box-small {
    background-color: white;
    border-radius: 20px;
    padding: 5px 0 5px 0;
    box-shadow: .1em .1em .5em #c0bfc4;
}

#container {                /* bewirkt wunder. nicht löschen */
    position: absolute;
    width: 1920px;
}